{% include 'header.twig' %}


{% block content %}

<div class="test">
    <section class="restos">
        <h2>{{ post.title }}</h2>
        
        <div class="restaurants">
           <div class="json"></div>
        </div>
    </section>
</div>
    

{% endblock %}