{% include 'header.twig' %}

{% block content %}

  <div class="ml-4 w80">
    <section class="single">
      <h1 class="c1">{{ post.title }}</h1>

        <p>{{ post.content }}</p>
    
    </section>
  </div>






{% endblock %}
